@using NL.Framework.Model.System
@using NL.Framework.Web.Controllers
@model PageModels

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    菜单筛选
                </div>
                <div class="layui-inline">
                    <select name="rolename" lay-filter="LAY-user-menu-type">
                        <option value="">全部</option>
                        @{
                            foreach (MenuModel item in Model.MenuLists)
                            {
                                <option value="@item.Fid">@item.MenuName</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                @Html.Partial("~/Views/Shared/_ButtonsOperation.cshtml", Model)
            </div>

            <table id="LAY-useradmin-menu" lay-filter="LAY-useradmin-menu"></table>
            <script type="text/html" id="buttonTpl">
                {{#  if(d.MenuIsShow == 1){ }}
                <button class="layui-btn layui-btn-xs">正常</button>
                {{#  } else { }}
                <button class="layui-btn layui-btn-primary layui-btn-xs">禁用</button>
                {{#  } }}
            </script>
            <script type="text/html" id="table-useradmin-menu">
                @Html.Partial("~/Views/Shared/_TableOperation.cshtml", Model)
            </script>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/Modules/MenuScript.js")"></script>

