@using NL.Framework.Model.System
@using NL.Framework.Web.Controllers
@model PageModels

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    角色筛选
                </div>
                <div class="layui-inline">
                    <select name="rolename" lay-filter="LAY-user-adminrole-type">
                        <option value="">全部角色</option>
                        @{
                            foreach (RoleModel item in Model.RoleLists)
                            {
                                <option value="@item.Fid">@item.RoleName</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                @Html.Partial("~/Views/Shared/_ButtonsOperation.cshtml", Model)
            </div>

            <table id="LAY-user-back-role" lay-filter="LAY-user-back-role"></table>
            @*<script type="text/html" id="buttonTpl">
                {{#  if(d.check == true){ }}
                <button class="layui-btn layui-btn-xs">已审核</button>
                {{#  } else { }}
                <button class="layui-btn layui-btn-primary layui-btn-xs">未审核</button>
                {{#  } }}
            </script>*@
            <script type="text/html" id="table-useradmin-admin">
                @Html.Partial("~/Views/Shared/_TableOperation.cshtml", Model)
            </script>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/Modules/RoleScript.js")"></script>
