@using NL.Framework.Model.System
@using NL.Framework.Web.Controllers
@model PageModels

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">登录名</label>
                    <div class="layui-input-block">
                        <input type="text" name="UserCode" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-block">
                        <input type="text" name="UserName" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">邮箱</label>
                    <div class="layui-input-block">
                        <input type="text" name="Email" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-block">
                        <select name="Gender">
                            <option value="3">不限</option>
                            <option value="1">男</option>
                            <option value="0">女</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-user-front-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                @{
                    foreach (FunctionModel item in Model.FunctionLists)
                    {
                        if (!item.FunctionEvent.Equals("edit"))
                        {
                            <button class="layui-btn layuiadmin-btn-role" data-type="@item.FunctionEvent">@item.FunctionName</button>
                        }
                    }
                }
            </div>

            <table id="LAY-user-manage" lay-filter="LAY-user-manage"></table>
            <script type="text/html" id="imgTpl">
                <img style="display: inline-block; width: 50%; height: 100%;" src={{ d.avatar }}>
            </script>
            <script type="text/html" id="table-useradmin-webuser">
                @{
                    foreach (FunctionModel item in Model.FunctionLists)
                    {
                        if (item.FunctionEvent.Equals("edit"))
                        {
                            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="bind"><i class="layui-icon layui-icon-set"></i>绑定</a>
                            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="@item.FunctionEvent"><i class="layui-icon layui-icon-edit"></i>@item.FunctionName</a>
                        }

                        if (item.FunctionEvent.Equals("delete"))
                        {
                            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="@item.FunctionEvent"><i class="layui-icon layui-icon-delete"></i>@item.FunctionName</a>
                        }
                    }
                }
            </script>
        </div>
    </div>
</div>

<script type="text/html" id="switchTpl">
    <!-- 这里的 checked 的状态只是演示 -->
    <input type="checkbox" name="Gender" value="{{d.id}}" lay-skin="switch" lay-text="女|男" {{ d.id == 0 ? 'checked' : '' }}>
</script>
<script type="text/html" id="GenderTpl">
    {{# if(d.Gender == 0){ }}
    <span class="layuiadmin-span-color">女</span>
    {{# }else{ }}
    <span class="layuiadmin-span-color">男</span>
    {{# } }}
</script>
<script type="text/html" id="IsAdminTpl">
    {{# if(d.IsAdmin == 0){ }}
    <span class="layuiadmin-span-color">否</span>
    {{# }else{ }}
    <span class="layuiadmin-span-color">是</span>
    {{# } }}
</script>

<script type="text/html" id="StateTpl">
    {{#  if(d.State == 0){ }}
    <button class="layui-btn layui-btn-xs">启用</button>
    {{#  } else { }}
    <button class="layui-btn layui-btn-primary layui-btn-xs">禁用</button>
    {{#  } }}
</script>
<script src="@Url.Content("~/Scripts/Modules/UserScript.js")"></script>

