@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>登入 - @ViewBag.SystemName</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/logincss")
</head>
<body>

    <div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">

        <div class="layadmin-user-login-main">
            <div class="layadmin-user-login-box layadmin-user-login-header">
                <h2>NLFrame</h2>
                <p>@ViewBag.SystemName-管理系统</p>
            </div>
            <div class="layadmin-user-login-box layadmin-user-login-body layui-form" lay-filter="layadmin-user-login" id="layadmin-user-login">
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-username" for="LAY-user-login-username"></label>
                    <input type="text" name="UserCode" id="LAY-user-login-username" lay-verify="required" placeholder="用户名" class="layui-input">
                    @*@Html.TextBoxFor(m => m.UserCode, new Dictionary<string, object> { { "class", "layui-input" }, { "placeholder", "用户名" }, { "lay-verify", "required" }, { "id", "LAY-user-login-username" } })*@
                </div>
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-password"></label>
                    <input type="password" name="Password" id="LAY-user-login-password" lay-verify="required" placeholder="密码" class="layui-input">
                </div>
                <div class="layui-form-item" style="margin-bottom: 20px;">
                    <input type="checkbox" name="remember" lay-skin="primary" lay-filter="remember" title="记住密码">
                    @*<a href="forget.html" class="layadmin-user-jump-change layadmin-link" style="margin-top: 7px;">忘记密码？</a>*@
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-user-login-submit">登 入</button>
                </div>
                @*<div class="layui-trans layui-form-item layadmin-user-login-other">
                    <a href="reg.html" class="layadmin-user-jump-change layadmin-link">注册帐号</a>
                </div>*@
            </div>
        </div>

    </div>

    @Scripts.Render("~/bundles/layui")
    <script src="@Url.Content("~/Scripts/Modules/LoginScript.js")"></script>
</body>
</html>