@using NL.Framework.Model;
@model  IEnumerable<NvaMenus>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
</head>
<body class="layui-layout-body">
    <div id="LAY_app">
        <div class="layui-layout layui-layout-admin">
            <!--顶部-->
            <div class="layui-header">
                <!--顶部左区域-->
                <ul class="layui-nav layui-layout-left">
                    <li class="layui-nav-item layadmin-flexible" lay-unselect="">
                        <a href="javascript:;" nlframe-event="flexible" title="侧边伸缩">
                            <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                        </a>
                    </li>
                    <li class="layui-nav-item" lay-unselect="">
                        <a href="javascript:;" nlframe-event="refresh" title="刷新">
                            <i class="layui-icon layui-icon-refresh-3"></i>
                        </a>
                    </li>
                </ul>
                <!--顶部右区域-->
                <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
                    <li class="layui-nav-item layui-hide-xs" lay-unselect>
                        <a href="javascript:;" nlframe-event="theme" title="换肤">
                            <i class="layui-icon layui-icon-theme"></i>
                        </a>
                    </li>
                    <li class="layui-nav-item layui-hide-xs" lay-unselect>
                        <a href="javascript:;" nlframe-event="note" title="便签">
                            <i class="layui-icon layui-icon-note"></i>
                        </a>
                    </li>
                    <li class="layui-nav-item layui-hide-xs" lay-unselect>
                        <a href="javascript:;" nlframe-event="fullscreen" title="全屏">
                            <i class="layui-icon layui-icon-screen-full"></i>
                        </a>
                    </li>
                    @*<li class="layui-nav-item layui-hide-xs" lay-unselect>
                        <a href="javascript:;" nlframe-event="clearCache" title="清除缓存">
                            <i class="layui-icon layui-icon-screen-full"></i>
                        </a>
                    </li>*@
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <img src="@Url.Content(@ViewBag.UserIcon)" class="layui-nav-img" />@ViewBag.UserName
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a lay-href="@Url.Action("Index","Login")">基本资料</a></dd>
                            <dd><a href="">修改密码</a></dd>
                            <dd><a nlframe-href="@Url.Action("LogOut","Login")">退出系统</a></dd>
                        </dl>
                    </li>
                    @*<li class="layui-nav-item"><a href="">退出系统</a></li>*@

                    <li class="layui-nav-item layui-hide-xs" lay-unselect>
                        <a href="javascript:;" nlframe-event="about" title="关于"><i class="layui-icon layui-icon-more-vertical"></i></a>
                    </li>
                    <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
                        <a href="javascript:;" nlframe-event="more" title="更多"><i class="layui-icon layui-icon-more-vertical"></i></a>
                    </li>
                </ul>
            </div>

            <!-- 左侧-->
            <div class="layui-side layui-side-menu">
                <div class="layui-side-scroll">
                    <div class="layui-logo" lay-href="/Home/About">@ViewBag.SystemName</div>
                    <!-- 左侧导航区域 -->
                    <ul class="layui-nav layui-nav-tree" id="LAY-system-side-menu" lay-shrink="all" lay-filter="layadmin-system-side-menu">
                        @{
                            foreach (var item in Model)
                            {
                                if (item.ChildMenus.Count > 0)
                                {
                                    <li class="layui-nav-item" data-name="@item.Fid">
                                        <a href="javascript:;" lay-direction="2" lay-tips="@item.MenuName">
                                            <i class="layui-icon @item.MenuIcon"></i><cite>@item.MenuName</cite>
                                        </a>
                                        <dl class="layui-nav-child">
                                            @foreach (var child in item.ChildMenus)
                                            {
                                                if (!string.IsNullOrEmpty(child.Fid.ToString()))
                                                {
                                                    <dd><a data-name="@child.Fid" lay-href="@child.MenuUrl">@child.MenuName</a></dd>
                                                }
                                                else
                                                {
                                                    <dd><a data-name="@child.Fid" href="javascript:;">@child.MenuName</a></dd>
                                                }
                                            }
                                        </dl>
                                    </li>
                                }
                                else
                                {
                                    <li class="layui-nav-item" data-name="@item.Fid">
                                        <a lay-href="@item.MenuUrl" lay-tips="@item.MenuName" lay-direction="2">
                                            <i class="layui-icon @item.MenuIcon"></i>
                                            <cite>@item.MenuName</cite>
                                        </a>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>
            </div>

            <!--页标签-->
            <div class="layadmin-pagetabs" id="LAY_app_tabs">
                <div class="layui-icon layadmin-tabs-control layui-icon-prev" nlframe-event="leftPage"></div>
                <div class="layui-icon layadmin-tabs-control layui-icon-next" nlframe-event="rightPage"></div>
                <div class="layui-icon layadmin-tabs-control layui-icon-down">
                    <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                        <li class="layui-nav-item" lay-unselect>
                            <a href="javascript:;"><span class="layui-nav-more"></span></a>
                            <dl class="layui-nav-child layui-anim-fadein layui-anim layui-anim-upbit">
                                <dd nlframe-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                                <dd nlframe-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                                <dd nlframe-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <div class="layui-tab" lay-unauto="" lay-allowclose="true" lay-filter="layadmin-layout-tabs">
                    <ul class="layui-tab-title" id="LAY_app_tabsheader">
                        <li lay-id="/WebInfo/Index" lay-attr="/WebInfo/Index" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
                    </ul>
                </div>
            </div>

            <!-- 内容主体区域 -->
            <div class="layui-body" id="LAY_app_body">
                <div class="layadmin-tabsbody-item layui-show">
                    <iframe src="/WebInfo/Index" frameborder="0" class="layadmin-iframe"></iframe>
                </div>
            @*</div>*@

            <div class="layui-footer">
                <!-- 底部固定区域 -->
                © NicholasLeo nicholasleo1030@163.com - 底部固定区域
            </div>
        </div>
    </div>
    </div>

    @Scripts.Render("~/bundles/layui")
    @*@RenderSection("scripts", required: false)*@
    <script>
        layui.config({
            base: '../Scripts/layui/src/nlframe/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use('index');
    </script>
</body>
</html>
